= simple_form_for @article do |f|
  / - if @article.category_ids.present?
  /   = f.input :category_ids, label: 'Categories', input_html: { class: 'select-categories', value: "#{@article.categories.pluck(:name).join(',')}"}
  / - else
  /   = f.input :category_ids, label: 'Categories', input_html: { class: 'select-categories'}
  = f.input :category_ids, label: 'Categories', input_html: { class: 'select-categories'}
  = f.input :title
  %label Content
  #resizable
    %pre#editor
  %p
  = f.text_area :content
  = f.submit class: 'btn btn-success submit-article'
  %p
